/* sec: body */
body {
    margin: 0;
}

#voice_frame {
    position:fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    bottom: 0;
}

.voice_icon {
    position: relative;
    margin: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(50, 50, 50);
}

.voice_icon i {
    color: white;
    position: absolute;
    font-size: 20px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.bar_frame_outer {
    background-color: #ccc;
    height: 15px;
    width: 150px;
    margin: 0 auto;
    border: solid 1px #aaa;
}

.bar_frame_inner {
    background-color: #aaa;
    height: 15px;
    width: 150px;
    margin: 0 auto;

    color: #ccc;
    text-align: left;
    font-family: sans-serif;
    line-height: 0.95;
    font-weight: bold;
}