/* sec: body */
body {
    margin: 0;
}

/* voice frame */
#indic_frame {
    position:fixed;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    bottom: 0;
}

.icon {
    position: relative;
    margin: 4px;
    width: 40px;
    height: 40px;
    border-radius: 35%;
    background: rgb(50, 50, 50);
}

.icon i {
    position: absolute;
    font-size: 16px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#sick {
    color: yellowgreen;
}

#drugs {
    color: aqua;
}

#bone {
    color: lightcoral;
}

#voice {
    color: white;
}

/* status frame */
#status_frame {
    position:fixed;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    left: 65px;
    bottom: 10px;
}

#status_frame_bottom {
    left: 65px;
    bottom: 10px;
}

.status_bar {
    background-color: #ccc;
    height: 15px;
    width: 150px;
    margin: 0 auto;
    border: solid 1px #aaa;
}

#health {

}

